<div class="main container-fluid">
    <div class="row">
        <div class="col-md pt-5">
            <h1>BND</h1>
            <p class="">Fenômeno em ascensão nas redes sociais, o grupo é formado por Gabriel Lobo (voz), Gagui Tatto (baixo), Luiz Kaneda (bateria), Gabriel Nunes (guitarra) e Raphael Ueda (guitarra). Somando mais de 320 mil seguidores em seus perfis pessoais, os artistas hoje vêm investindo em conteúdos nas redes da banda, ganhando cada vez mais relevância com temas musicais, trends e comédia, além de shows e festivais.</p>

        </div>
        <div class="col-md">
        </div>
    </div>
</div>