<div class="main container-fluid">
    <div class="row">
        <ngb-carousel class="col-md-12 p-0" *ngIf="images" [showNavigationArrows]="false" [showNavigationIndicators]="false">
            <ng-template ngbSlide *ngFor="let image of images">
                <div class="picsum-img-wrapper gradient-overlay">
                    <img [src]="image" class="carousel"/>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="grid">
        <img class="logo col-5 col-md-3" src="assets/img/ueloLogoR.png"/>
    </div>
</div>
