.main{
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

img.carousel{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: 1;
    filter: grayscale(1) blur(1px) opacity(70%); 
}

.gradient-overlay::after{
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, transparent, black 100%);
    z-index: 2;
}

.logo{
    position: absolute;
    display: block;
    z-index: 3;
    height: 50vh;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}